<launch>

<rosparam file="$(find KHR3_001_description)/config/controller.yaml" command="load"/>
<node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" ns="KHR3_001" args="base_link1_position_controller c_head_yaw_position_controller l_shouluder_pitch_position_controller l_shouluder_roll_position_controller l_elbow_yaw_position_controller l_elbow_pitch_position_controller r_shouluder_pitch_position_controller r_shouluder_roll_position_controller r_elbow_yaw_position_controller r_elbow_pitch_position_controller l_hipjoint_yaw_position_controller l_hipjoint_roll_position_controller l_hipjoint_pitch_position_controller l_knee_pitch_position_controller l_ankle_pitch_position_controller l_ankle_roll_position_controller r_hipjoint_yaw_position_controller r_hipjoint_roll_position_controller r_hipjoint_pitch_position_controller r_knee_pitch_position_controller r_ankle_pitch_position_controller r_ankle_roll_position_controller joint_state_controller "/>
<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
  <remap from="/joint_states" to="/KHR3_001/joint_states"/>
</node>

</launch>
