<launch>

<rosparam file="$(find choreonoid_ros_khr3)/config/controller.yaml" command="load"/>
<node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" ns="khr3_001" args="base_link1_position_controller c_head_yaw_position_controller l_shoulder_pitch_position_controller l_shoulder_roll_position_controller l_elbow_yaw_position_controller l_elbow_pitch_position_controller r_shoulder_pitch_position_controller r_shoulder_roll_position_controller r_elbow_yaw_position_controller r_elbow_pitch_position_controller l_hipjoint_yaw_position_controller l_hipjoint_roll_position_controller l_hipjoint_pitch_position_controller l_knee_pitch_position_controller l_ankle_pitch_position_controller l_ankle_roll_position_controller r_hipjoint_yaw_position_controller r_hipjoint_roll_position_controller r_hipjoint_pitch_position_controller r_knee_pitch_position_controller r_ankle_pitch_position_controller r_ankle_roll_position_controller joint_state_controller "/>
<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
  <remap from="/joint_states" to="/khr3_001/joint_states"/>
</node>

</launch>
